<strong>Angular Material CDK Drag and Drop &quot;Playground&quot;</strong>
<nav>
  <a routerLink="/basic">Basic</a> |
  <a routerLink="/drop-list-group">Drop List Group</a> |
  <a routerLink="/using-css-classes">Using CSS Classes</a> |
  <a routerLink="/predicates">Predicates</a> |
  <a routerLink="/drop-lists">Advanced Drop Lists</a> |
  <a href="https://material.angular.io/cdk/drag-drop/api#CdkDrag" target="_blank">Drag (API Doc)</a> |
  <a href="https://adwiens.github.io/angular-material-cdk-drag-and-drop-calendar/" target="_blank">Example App</a>
</nav>
<hr>
<router-outlet></router-outlet>
